<%- include('partials/header.ejs'); %>

    <h1>Consulta de Dados do Médico</h1>

    <div class="container">
      
      <form class="form-cadastro" action="/" method="get">

        <label for="nome">Nome do Médico: </label>
        <input type="text" class="form-control" id="nome" name="nome" value="<%= medico.nome %>" readonly><br>

        <label for="crm">CRM: </label>
        <input oninput="mascara(this, 'crm')" type="text" class="form-control" id="crm" name="crm" value="<%= medico.crm %>" readonly><br>

        <label for="Telefone">Telefone: </label>
        <input oninput="mascara(this, 'telefone')" type="text" class="form-control" id="telefone" name="telefone" value="<%= medico.telefone %>" readonly>

        <label for="celular">Celular: </label>
        <input oninput="mascara(this, 'celular')" type="text" class="form-control" id="celular" name="celular" value="<%= medico.celular %>" readonly><br>
        
        <hr><br>

        <h2>Endereço:</h2>
   
        <label for="cep">CEP: </label>
        <input oninput="mascara(this, 'cep')" type="text" class="form-control" id="cep" name="cep" value="<%= medico.cep %>" readonly><br>

        <label for="rua">Rua / Av.: </label>
        <input type="text" class="form-control" id="endereco" name="rua" value="<%= medico.rua %>" readonly>

        <label for="numero">Número: </label>
        <input type="text" class="form-control" id="numero" name="numero" value="<%= medico.numero %>" readonly>

        <label for="complemento">Complemento: </label>
        <input type="text" class="form-control" id="complemento" name="complemento" value="<%= medico.complemento %>" readonly><br>

        <label for="bairro">Bairro: </label>
        <input type="text" class="form-control" id="bairro" name="bairro" value="<%= medico.bairro %>" readonly>

        <label for="cidade">Cidade: </label>
        <input type="text" class="form-control" id="cidade" name="cidade" value="<%= medico.cidade %>" readonly>

        <label for="estado">UF: </label>
        <input type="text" class="form-control" id="estado" name="estado" value="<%= medico.estado %>" readonly><br>

        <hr><br>

        <h2>Especialidades:</h2>

        <label for="especialidade1">Especialidade 01: </label>
        <select class="form-control" id="especialidade1" name="especialidade1" placeholder="Especialidade 01">

            <% especialidades.forEach(especialidade => { %>
            <% if (especialidade.id == medico.especialidade1) { %>
                <option value="<%=especialidade.id%>" selected readonly><%= especialidade.especialidade %></option>
            <% }; %>

            <% }); %>
        </select>

        <label for="especialidade2">Especialidade 02: </label>
        <select class="form-control" id="especialidade2" name="especialidade2" placeholder="Especialidade 02">

            <% especialidades.forEach(especialidade => { %>
                <% if (especialidade.id == medico.especialidade2) { %>
                    <option value="<%=especialidade.id%>" selected readonly><%= especialidade.especialidade %></option>
                <% }; %>

                <% }); %>
            </select>

        <hr><br><br>


        <button type="submit" class="btn">Retorne à Lista</button>

      </form>
  </div>

  <script src="/javascripts/mask-form.js"></script>
  
  </body>
</html>
