<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Médicos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

    <div class="layout-lista">
        <h1> Médicos Cadastrados</h1>
        <a href="/cadastro" class="btn-c">+ Cadastrar Médico</a>
        
        <table>
            
            <tr>
            <th>ID</th>
            <th>Nome do Médico</th>
            <th>CRM</th>
            <th>Telefone</th>
            <th>Celular</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th></th>
            <th></th>
            </tr>

            <% medicos.forEach(medico => { %>
            <tr>
                <td><%= medico.id %></td>
                <td><%= medico.nome %></td>
                <td><%= medico.crm %></td>
                <td><%= medico.telefone %></td>
                <td><%= medico.celular %></td>
                <td><%= medico.cidade %></td>
                <td><%= medico.estado %></td>
                <td><a href="/editar/<%=medico.id %>" class="btn-e">Editar</a></td>
                <td> <form class="form-cadastro" action="/deletar/<%= medico.id %>?_method=DELETE" method="post">
                <button type="submit">Excluir</button></form></td>
            </tr>
            <% }); %>

            
        </table>
    </div>
    
</body>
</html>